# NOTE: For future development, always update this file whenever new libraries are added, removed, or replaced. Ensure all dependencies are listed and up to date for legal and functional compliance.

# Python requirements for MAC Address Converter
pystray
Pillow
keyboard
pyperclip
PyInstaller
pynput
PyQt5
PyQt5
pywin32
